parteSOAP/backEndjava/peritos/informe.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/informe/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="informe" targetNamespace="http://www.example.org/informe/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.example.org/informe/">
      <xsd:element name="GenerarInforme">
        <xsd:complexType>
          <xsd:sequence>
          	<xsd:element name="idCaso" type="xsd:int" />
          	<xsd:element name="resultado" type="xsd:boolean"></xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GenerarInformeResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="informe" type="tns:Informe"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    
      <xsd:complexType name="Informe">
      	<xsd:sequence>
			<xsd:element name="PeritoAsociado" type="tns:PeritosInforme"></xsd:element>

      		<xsd:element name="Mensaje" type="xsd:string"></xsd:element>
      	</xsd:sequence>
      </xsd:complexType>
    
      <xsd:complexType name="PeritosInforme">
      	<xsd:sequence>
      		<xsd:element name="nombre" type="xsd:string"></xsd:element>
      		<xsd:element name="Apellidos" type="xsd:string"></xsd:element>
      		<xsd:element name="dni" type="xsd:string"></xsd:element>
      		<xsd:element name="numeroColegiado" type="xsd:int"></xsd:element>
      	</xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="GenerarInformeRequest">
    <wsdl:part element="tns:GenerarInforme" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="GenerarInformeResponse">
    <wsdl:part element="tns:GenerarInformeResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="informe">
    <wsdl:operation name="GenerarInforme">
      <wsdl:input message="tns:GenerarInformeRequest"/>
      <wsdl:output message="tns:GenerarInformeResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="informeSOAP" type="tns:informe">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="GenerarInforme">
      <soap:operation soapAction="http://www.example.org/informe/GenerarInforme"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="informe">
    <wsdl:port binding="tns:informeSOAP" name="informeSOAP">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
