parteSOAP/backEndjava/peritos/WebContent/WEB-INF/services/peritos/META-INF/peritos.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="peritos" targetNamespace="http://www.example.org/peritos/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.example.org/peritos/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.example.org/peritos/">
      <xsd:element name="AsignaPerito">
        <xsd:complexType>
          <xsd:sequence>



          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="AsignaPeritoResponse">
        <xsd:complexType>
          <xsd:sequence>
          	<xsd:element name="respuesta" type="xsd:boolean"/>
          	<xsd:element name="perito" type="tns:Perito"/>
          	<xsd:element name="idCaso" type="xsd:int"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    
    
      <xsd:complexType name="Perito">
      	<xsd:sequence>
      		<xsd:element name="nombre" type="xsd:string"/>
      		<xsd:element name="apellidos" type="xsd:string"/>
      		<xsd:element name="dni" type="xsd:string"/>
      		<xsd:element name="numeroColegiado" type="xsd:int"/>
      	</xsd:sequence>
      </xsd:complexType>
      <xsd:element name="CrearPerito">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="in" type="tns:Perito"/>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="CrearPeritoResponse">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="out" type="xsd:boolean"/>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
     
      <xsd:element name="LiberarPerito">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="dni" type="xsd:string"/>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="LiberarPeritoResponse">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="out" type="xsd:boolean"/>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="ObtenerPeritosLibres">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="in" type="xsd:string"/>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="ObtenerPeritosLibresResponse">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="out" type="xsd:string"/>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="ActualizarPerito">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="in" type="tns:Perito"/>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="ActualizarPeritoResponse">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="out" type="xsd:boolean"/>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="CrearPeritoResponse">
    <wsdl:part name="parameters" element="tns:CrearPeritoResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="LiberarPeritoResponse">
    <wsdl:part name="parameters" element="tns:LiberarPeritoResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="AsignaPeritoResponse">
    <wsdl:part name="parameters" element="tns:AsignaPeritoResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ObtenerPeritosLibresResponse">
    <wsdl:part name="parameters" element="tns:ObtenerPeritosLibresResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="LiberarPeritoRequest">
    <wsdl:part name="parameters" element="tns:LiberarPerito">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="AsignaPeritoRequest">
    <wsdl:part name="parameters" element="tns:AsignaPerito">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ActualizarPeritoResponse">
    <wsdl:part name="parameters" element="tns:ActualizarPeritoResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="CrearPeritoRequest">
    <wsdl:part name="parameters" element="tns:CrearPerito">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ObtenerPeritosLibresRequest">
    <wsdl:part name="parameters" element="tns:ObtenerPeritosLibres">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ActualizarPeritoRequest">
    <wsdl:part name="parameters" element="tns:ActualizarPerito">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="peritos">
    <wsdl:operation name="AsignaPerito">
      <wsdl:input message="tns:AsignaPeritoRequest">
    </wsdl:input>
      <wsdl:output message="tns:AsignaPeritoResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CrearPerito">
      <wsdl:input message="tns:CrearPeritoRequest">
    </wsdl:input>
      <wsdl:output message="tns:CrearPeritoResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LiberarPerito">
      <wsdl:input message="tns:LiberarPeritoRequest">
    </wsdl:input>
      <wsdl:output message="tns:LiberarPeritoResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="peritosSOAP" type="tns:peritos">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="AsignaPerito">
      <soap:operation soapAction="http://www.example.org/peritos/AsignaPerito"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CrearPerito">
      <soap:operation soapAction="http://www.example.org/peritos/CrearPerito"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LiberarPerito">
      <soap:operation soapAction="http://www.example.org/peritos/LiberarPerito"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="peritos">
    <wsdl:port name="peritosSOAP" binding="tns:peritosSOAP">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
